/*
    Layout
*/
html, body, #home{
    height: 100%;
    overflow-x: hidden;
}

body{
    background: url(../imagens/capa.png),
                url(../imagens/ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);
                background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
                
}
/*
    Barra de navegação
*/
nav.navbar-trasparente{
    padding: 15px 0px;
    background-color: rgba(0, 0, 0, 0.6);
}

.divisor-menu{
    background: white;
    width: 2px;
    margin: 12px 15px;
}

.navbar-expand-md .navbar-nav .nav-link{
    color:#fff;
}

.navbar-expand-md .navbar-nav .nav-link:hover {
    color: rgb(137, 198, 220);
}
/*
    Capa
*/
.capa{
    text-align: center;
    margin: auto;
    color: #fff;
}

.row .capa h1{
    letter-spacing:-0.05em;
    font-weight: bold;
}

.row .capa .btn-custom{
    font-size: 1.3em;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    text-transform: uppercase;
}

.row .capa .btn-roxo{
    background-color: #7c25f8;
    color: #fff;
}

.row .capa .btn-roxo:hover{
    background-color: #6d0ef3;
    color: #fff;
}

.row .capa .btn-branco{
    color: #fff;
    border: 1px solid #fff;
}

.row .capa .btn-branco:hover{
    color: #000000;
    background: #fff;
}

.navbar .navbar-toggler {
    color: #fff;

  }

/*Possiibilidades*/
#possibilidades{
    background: #fff;
}

.album{
    margin: 25px 0px;
}

#possibilidades h1{
    letter-spacing: -0.04em;
    color: #7c25f8;
    font-weight: 900;
    font-size: 3em;
}

#possibilidades h2{
    letter-spacing: -0.04em;
    color: #7c25f8;
    font-weight: 900;
    font-size: 2em;
}

#possibilidades h3{
    letter-spacing: -0.04em;
    color: #7c25f8;
    font-weight: 900;
    font-size: 2em;
}

#acessibilidade h1{
    letter-spacing: -0.04em;
    color: #fff;
    font-weight: 900;
    font-size: 3em;
}

#acessibilidade h2{
    letter-spacing: -0.04em;
    color: #9bf0e1;
    font-weight: 900;
    font-size: 2em;
}

#acessibilidade p{
    color: #fff;
}

.rotacao{
    rotate: 30deg;
    padding-left: 80px;
}

 

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .capa h1{
        font-size: 4em;
    };
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .capa h1{
        font-size: 5em;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .capa h1{
        font-size: 6em;
    }
 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .capa h1{
        font-size: 7em;
    }
 }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    h1{
        font-size: 7em;
    }
 }
